

<!DOCTYPE html>
{% load static %}
<html
    lang="en">
    <!--메인 화면-->
    <head>
        <meta charset="utf-8">
        <title>BestPreswot</title>
        <link rel="stylesheet" href="{% static 'css/style_3.css' %}">
    </head>
    <body>
        <div class="back">
            <div
                style="text-align:left" class="header" height="10%">
                <!--메인 로고-->
                <a><img src="{% static 'images/titler.png' %}"></a>
                <button id="myclasslogin" type="button">로그아웃</button>
                <button>내정보</button>
                <button type="button">수강중인목록</button>
            </div>
            <div class="form" height="80%">
                <h2>수강편람조회</h2>
                <div class="classtablec">
                    <div class="classtablecin">
                        <div class="classclass">
                            <form name="classform" id="classform" action="" method="post"></form>
                            <p></p>
                        </div>
			<form name="class_appform" id="class_appform" action="" method="post">
			{% csrf_token %}
                        <table id="myclasstable">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>과목</th>
                                    <th>강사_id</th>
                                    <th>정원</th>
                                    <th>현재인원</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyclass">
                                {% for i in class_name %}
				{% for j in cur_cur_stu %}
				{% if i.0 == j.1 %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a>{{ i.0 }}</a>
                                        </td>
                                        <td>{{ i.3 }}</td>
                                        <td>{{ i.2 }}</td>
                                        <td>{{j.0}}</td>
                                        <td>
                                            <button value="{{i.1}}" type="submit" name="class_app">수강신청</button>
                                        </td>
                                    </tr>
				{% endif %}
                                {% endfor %}
				{% endfor %}
                            </tbody>
                        </table>
			</form>
                    </div>
                </div>
            </div>
            <!—copyright—>
            <footer class="footer" height="10%">
                <p>&copy;&nbsp;Copyright. By team_7 since 2019.
                </p>
            </footer>
        </div>
    </body>
</html>