
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>BestPreswot</title>
            <link rel="stylesheet" href="{% static 'css/style_2.css' %}"></head>
            <body>
                <div class="back">
                    <div style="text-align:left" class="header" height="10%">
                        <a href="http://18.217.88.225:8000/">
                            <img src="{% static 'images/titler.png' %}"></a>
                            <button>Home</button>
                        </div>
                        <div class="form" height="80%">
                            <div class="loginer">
                                <h1 style="text-align:center id=demo">로그인</h1>
                                <form name="loginform" id="loginform" action="" method="post">
                                    {% csrf_token %}
                                    <div class="loginform_input">
                                        Username:
                                        <input name="loginid" type="text" placeholder="email" autofocus="autofocus"/>
                                    </div>
                                    <p></p>
                                    <div class="loginform_input">
                                        Password:
                                        <input name="loginpw" type="text" style="-webkit-text-security: disc;" placeholder="password"/>
                                    </div>
                                    <p></p>
                                    <button>로그인</button>
                                </form>
                            </div>
                            <a href="https://portal.yonsei.ac.kr">연세포탈 (https://portal.yonsei.ac.kr)</a>
                            <p></p>
                            <a href="https://yscec.yonsei.ac.kr">와이섹 (https://yscec.yonsei.ac.kr)</a>
                            <p></p>
                            <a href="https://yonsei.ac.kr">연세대학교 (https://yonsei.ac.kr)</a>
                            <p></p>
                            <a href="https://career.yonsei.ac.kr">커리어연세 (https://career.yonsei.ac.kr)</a>
                            <p></p>
                            <a href="http://preswot.com/">프리스왓 (http://preswot.com)</a>
                            <p></p>
                        </div>
                        <div class="footer" height="10%">
                            <p>&copy;&nbsp;Copyright. By team_7 since 2019.
                            </p>
                        </div>
                    </div>
                </body>
            </html>