
<!DOCTYPE html>
{% load static %}
<html
    lang="en">
    <!--메인 화면-->
    <head>
        <meta charset="utf-8">
        <title>BestPreswot</title>
        <link rel="stylesheet" href="{% static 'css/style_3.css' %}">
        <script type="text/javascript">
            function gotoclasses() {
                var link = document.location.href;
                var linksplit = link.split("teacherpage");
                location.href = linksplit[0] + "teacherpage";
                console.log(link);
                console.log(linksplit[0]);
            }
        </script>
    </head>
    <body>
        <div class="back">
            <div
                style="text-align:left" class="header" height="10%">
                <!--메인 로고-->
                <a><img src="{% static 'images/titler.png' %}"></a>
                <button id="myclasslogin" type="button" onclick="location.href='http://18.217.88.225:8000/'">로그아웃</button>
                <button>내정보</button>
                <button type="button" onclick="gotoclasses()">수강중인목록</button>
            </div>
            <div class="form" height="80%">
                <h2>수강 중인 강의</h2>
                <div class="classtablew">
                    <div class="classtablewin">
                        <div class="classclass">
                            <p></p>
                        </div>
                        <table id="myclasstable">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>문제</th>
                                    <th>  </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyclass">
                                {% for i in question_id %}
                                    <tr>
                                        <td></td>
                                        <td>{{ i.1 }}</td>
                                        <td>
                                            <button name = "solve_pro" type="submit" onclick="location.href='./question/{{ i.0 }}'">문제 보기</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>
            <!—copyright—>
            <footer class="footer" height="10%">
                <p>&copy;&nbsp;Copyright. By team_7 since 2019.
                </p>
            </footer>
        </div>
    </body>
</html>